1.Multiples_of_3_or_5/target
2.Even_Fibonacci_numbers/target
3.Largest_prime_factor/target
4.Largest_palindrome_product/target
5.Smallest_multiple/target
6.Sum_square_difference/target
7.10001st_prime/target
8.Largest_product_in_a_series/target
9.Special_Pythagorean_triplet/target
10.Summation_of_primes/target
